@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}

.header {
    box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
    margin-bottom: 0.1rem;
}

//////////////////////////////////////////////////////

.campaign-form-container {
    width: 80%;
}


.campaign-form {
    width: 100%;
    @include center();
    align-items: stretch;
    &-menu {
        width: 20%;        
        background-color: $primary-color;        
        color: #fff;
        padding-top: 6vh;
        font-size: 1.1rem;
        &-link {
            margin-bottom: 4vh;
            padding-left: 10%;
        }
    }
    &-1 {
        width: 100%;
        background-color: #fff;
        &-header {
            padding: 5vh 5%;
            @include center();
            justify-content: space-between;
            box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
            margin-bottom: 3vh;
            font-size: 1.1rem;
            &-btns-container {
                width: 50%;
                @include center();
                justify-content: space-between;
            }
            &-save-btn {
                color: $primary-color;
            }
            &-review-btn {
                background-color: $primary-color;
                color: #fff;
                padding: 1vh 3vw;
                @include center();
                border-radius: 0.5rem;
            }
        }
        &-description {
            margin-top: 5vh;
            width: 90%;
            padding-left: 5%;
            margin-bottom: 5vh;
            &-heading {
                font-size: 1.4rem;
                margin-bottom: 3vh;     
                font-weight: 600;           
            }
            &-details {
                font-size: 1rem;
                font-weight: normal;
            }
        }
        &-data {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 90%;
            padding-left: 5%;
            margin-bottom: 5vh;
            &-heading {
                font-size: 1.2rem;
                color: $brand-black;
                font-weight: 600;
                margin-bottom: 1vh;
                &-required {
                    color: $primary-color;
                }
            }
            &-description {
                font-weight: normal;
                color: #979797;
                font-size: 1rem;
                margin-bottom: 2vh;
            }
            &-input {
                width: 90%;
                border: 0.1rem solid #979797;
                border-radius: 0.5rem;
                outline: none;
                padding: 1vh 2vw;
                color: $brand-black;                
                font-size: 1.1rem;
                &-tagline {
                    resize: none;
                }
                &-image {
                    position: absolute;                    
                    width: 37%;
                    height: 40vh;
                    top: 28%;
                    z-index: 100;
                    opacity: 0;
                    cursor: pointer;
                }
                &-image-box {
                    width: 40%;
                    height: 40vh;
                    @include center();
                    border: 0.1rem solid #979797;
                    border-radius: 1rem;
                    position: relative;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    cursor: pointer;
                    &-icon {
                        width: 1.6vw;
                        margin-right: 1vw;
                    }
                    &-text {
                        color: #979797;
                        font-size: 1.1rem;
                    }
                    &-upload {
                        height: 40vh;
                        width: 38%;
                        position: absolute;
                        bottom: 0;
                        border: 0.1rem solid #979797;
                        border-radius: 1rem;
                    }
                }
            }
        }
        &-image-data {
            position: relative;
        }
        &-btn {
            background-color: $primary-color;
            color: #fff;
            font-size: 1.2rem;
            @include center();
            padding: 2vh 3vw;            
            width: 30%;
            border-radius: 0.5rem;
            margin-left: 25%;
            cursor: pointer;
            margin-bottom: 6vh;
            outline: none;
            border: none;
        }
    }
}

.loader {
    border: 0.8vw solid #f3f3f3;
    border-top: 0.8vw solid #FC7753;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 17%;
    top: 50%;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }