@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}

//////////////////////////////////////////////////////



.dream-section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    background-color: #fff;
    &-heading {
        width: 50%;
        margin: auto;
        font-size: 2.0rem;
        font-weight: 500;
        padding-bottom: 10vh;
        text-align: center;
    }
    &-thumbnail {
        width: 100%;
        @include center();
        &-img {
            width: 12%;
        }
    }
    &-subheading {
        text-align: center;
        color: $brand-black;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 4vh;
    }
    &-text {
        text-align: center;
        width: 50%;
        margin: auto;        
    }
    &-btn {
        background-color: $primary-color;
        color: #fff;
        font-size: 1.2rem;
        padding: 1.5vh 3vw;
        width: 25%;
        margin: auto;
        @include center();
        border-radius: 0.5rem;
        margin-top: 3vh;
    }
}

.guide-section {
    background-color: #181819;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 8vh 0;
    &-subtext {
        color: #fff;
        font-size: 1rem;
        text-align: center;
    }
    &-heading {
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin-top: 2vh;
    }
    &-text {        
        width: 50%;
        margin: auto;
        margin-top: 3vh;
        text-align: center;
        font-size: 1.1rem;
        color: #fff;
    }
    &-btn {
        background-color: $primary-color;
        color: #fff;
        @include center();
        margin: auto;
        width: 20%;
        border-radius: 0.5rem;
        margin-top: 3vh;
        font-size: 1.2rem;
        padding: 1.5vh 0;
    }
}

.success-stories-section {
    padding: 8vh 0;
    &-heading {
        color: $brand-black;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
    &-row {
        margin-top: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 0 5%;
        &-column {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &-thumbnail {
                width: 100%;
                text-align: center;
                &-img {
                    width: 100%;
                }                
            }
            &-text {
                width: 90%;
                margin: auto;
                text-align: center;
                font-size: 1rem;
                margin-bottom: 2vh;
            }
            &-link {
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}

.project-section {
    padding: 10vh 0;
    width: 100%;
    background-color: #fff;
    border-top: 0.3rem solid #ECECEC;    
    border-bottom: 0.3rem solid #ECECEC;    
    &-heading {
        width: 50%;
        margin: auto;
        font-size: 2.0rem;
        font-weight: 500;
        padding-bottom: 10vh;
        text-align: center;
    }
    &-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 0% 5%;
        &-column {
            width: 30%;
            @include center();
            flex-direction: column;
            &-heading {
                color: $primary-color;
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 2vh;
            }
            &-description {
                width: 60%;
                font-size: 1.2rem;
                color: $brand-black;
                text-align: center;
                margin: auto;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    html {
        font-size: 1.2vw;
    }
}


@media only screen and (min-width: 980px) and (max-width:1080px) {
    .dream-section-btn {
        width: 35%;
    }
}

@media only screen and (min-width: 768px) and (max-width:980px) {
    .dream-section-heading {
        width: 70%;
    }
    .dream-section-thumbnail-img {
        width: 25%;
    }
    .dream-section-btn {
        width: 45%;
    }
    .guide-section-text {
        width: 70%;
    }
    .guide-section-btn {
        width: 40%;
    }
}

@media only screen and (min-width: 620px) and (max-width:768px) {
    .dream-section-heading {
        width: 80%;
        font-size: 1.8;
    }
    .dream-section-thumbnail-img {
        width: 25%;
    }
    .dream-section-btn {
        width: 45%;
    }
    .guide-section-text {
        width: 70%;
    }
    .guide-section-btn {
        width: 40%;
    }
    .project-section-heading {
        width: 80%;
        font-size: 1.8rem;
    }
    .project-section-row , .success-stories-section-row {
        flex-direction: column;
    }
    .project-section-row-column , .success-stories-section-row-column {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 6vh;
    }
    .success-stories-section-row-column-text {
        margin-top: 0;
        text-align: justify;
        margin-right: 2vw;
    }
    .success-stories-section-row-column-thumbnail {
        width: 45%;
        margin-right: 2vw;
    }
}


@media only screen and (max-width: 620px) {
    html {
        font-size: 14px;
    }
    .dream-section-heading {
        width: 80%;
        font-size: 1.8;
    }
    .dream-section-thumbnail-img {
        width: 25%;
    }
    .dream-section-btn {
        width: 45%;
    }
    .guide-section-text {
        width: 70%;
    }
    .guide-section-btn {
        width: 40%;
    }
    .project-section-heading {
        width: 80%;
        font-size: 1.8rem;
    }
    .project-section-row , .success-stories-section-row {
        flex-direction: column;
    }
    .project-section-row-column , .success-stories-section-row-column {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 6vh;
    }
    .success-stories-section-row-column-text {
        margin-top: 0;
        text-align: justify;
        margin-right: 2vw;
    }
    .success-stories-section-row-column-thumbnail {
        width: 45%;
        margin-right: 2vw;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 14px;
    }
    .dream-section-heading {
        width: 90%;
        font-size: 1.8rem;
    }
    .dream-section-thumbnail-img {
        width: 25%;
    }
    .dream-section-btn {
        width: 60%;
    }
    .dream-section-text {
        width: 80%;
    }
    .guide-section-text {
        width: 70%;
    }
    .guide-section-btn {
        width: 40%;
    }
    .project-section-heading {
        width: 80%;
        font-size: 1.8rem;
    }
    .project-section-row , .success-stories-section-row {
        flex-direction: column;
    }
    .project-section-row-column , .success-stories-section-row-column {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 6vh;
    }
    .success-stories-section-row-column-text {
        margin-top: 0;
        text-align: justify;
        margin-right: 2vw;
    }
    .success-stories-section-row-column-thumbnail {
        width: 80%;
        margin-right: 0vw;
        margin-bottom: 2vh;
    }
    .success-stories-section-row-column {
        flex-direction: column;
    }
}

@media only screen and (max-width: 380px) {
    html {
        font-size: 14px;
    }
    .dream-section-heading {
        width: 90%;
        font-size: 1.8rem;
    }
    .dream-section-thumbnail-img {
        width: 25%;
    }
    .dream-section-btn {
        width: 80%;
    }
    .dream-section-text {
        width: 80%;
    }
    .guide-section-text {
        width: 90%;
    }
    .guide-section-btn {
        width: 70%;
    }
    .project-section-heading {
        width: 80%;
        font-size: 1.8rem;
    }
    .project-section-row , .success-stories-section-row {
        flex-direction: column;
    }
    .project-section-row-column , .success-stories-section-row-column {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 6vh;
    }
    .success-stories-section-row-column-text {
        margin-top: 0;
        text-align: justify;
        margin-right: 2vw;
    }
    .success-stories-section-row-column-thumbnail {
        width: 80%;
        margin-right: 0vw;
        margin-bottom: 3vh;
    }
    .success-stories-section-row-column {
        flex-direction: column;
    }
}