// font imported from google

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// configurations 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}

.header {
    box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
    margin-bottom: 3vh;
}


//////////////////////////////////////////////////////


.product-section {
    &-1 {
        width: 100%;
        padding: 8vh 5%;
        margin-bottom: 3vh;
        border-bottom: 0.1vh solid #979797;
        @include center();
        justify-content: space-between;
        align-items: flex-start;
        &-column {
            width: 50%;                  
            display: flex;
            flex-direction: column;
            align-items: stretch;
            &-thumbnail {
                width: 90%;
                &-img {
                    width: 100%;
                }
            }
            &-name {
                font-size: 1rem;
                color: $brand-black;
                margin-bottom: 2vh;
            }
            &-heading {
                font-size: 1.8rem;
                color: $brand-black;
                font-weight: 600;
                margin-bottom: 2vh;
            }
            &-description {
                font-size: 1.1rem;
                color: $brand-black;
                margin-bottom: 2vh;
            }
            &-category {
                font-size: 1.1rem;
                color: $primary-color;
                margin-bottom: 1vh;          
            }
            &-location {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 1.1rem;
                font-weight: 500;
                margin-bottom: 2vh;
                &-img {
                    width: 1vw;
                    margin-right: 1vw;
                }
            }
            &-finance {
                font-size: 1.1rem;
                &-raised-amount {
                    font-weight: 500;
                }
                &-numbers {
                    font-weight: 500;
                }
            }
            &-btns {
                @include center();
                justify-content: space-between;
                width: 100%;
                margin-top: 4vh;
                align-self: flex-end;
                &-1 {
                    @include center();
                    justify-content: flex-start;
                    &-follow , &-back {
                        @include center();
                        font-size: 1rem;
                        padding: 0.8vh 0.8vw;
                        border: 0.1vw solid #575756;
                        border-radius: 0.5vw;
                        color: #575756;
                        cursor: pointer;
                        background-color: #fff;
                        outline: none;
                        &-img {
                            width: 1.5vw;
                        }
                        &-text {
                            margin-left: 0.6vw;
                        }
                    }
                    &-follow {
                        user-select: none;
                        &-active {
                            background-color: $primary-color;
                            color: #fff;
                            border: 0.1vh solid $primary-color;
                        }
                        &-favorite {
                            &-icon {
                                &-path {
                                    fill: #fff;
                                    stroke: $primary-color;
                                }
                            }
                        }
                        display: none;
                    }
                    &-back {
                        margin-left: 2vw;
                    }
                }
                &-2 {
                    &-img {
                        &:first-child {
                            width: 1.2vw;
                        }
                        width: 2vw;
                        margin-left: 1vw;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &-2 {
        border-bottom: 0.1vh solid #979797;
        &-menu {
            width: 100%;
            padding: 3vh 5%;
            padding-top: 0;
            box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
            margin-bottom: 3vh;
            @include center();
            justify-content: flex-start;
            height: 10vh;
            &-link {
                @include center();
                margin-left: 3vw;
                height: 100%;
                border-bottom: 0.2vh solid #fff;
                cursor: pointer;
                &-active {
                    border-bottom: 0.2vh solid $primary-color;
                }
            }
        }
        &-tab {
            width: 100%;
            padding: 5vh 5% 10vh 8%;            
            &-1 {
                width: 60%;
                text-align: justify;
            }
            &-heading {
                padding-bottom: 5vh;
                font-size: 2rem;
                font-weight: 500;
            }
            &-description {
                width: 60%;
                text-align: justify;
                font-size: 1.1rem;
                color: $brand-black;                
                margin-bottom: 3vh;
            }
            &-contact {
                font-size: 1.1rem;
                @include center();
                justify-content: flex-start;
                margin-bottom: 2vh;
                &-link {
                    margin-left: 1vw;                
                }
            }
            &-address {
                margin-top: 5vh;
                font-size: 1.1rem;
            }
            &-2 {
                display: none;
            }
        }
    }
}

.product-section-1-column-btns-1-follow-text-prcie {
    color: $primary-color;
    font-weight: 500;
}

.interested-section {
    width: 100%;
    padding-top: 5vh;
    &-heading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 5vh;
        padding-left: 5vw;
    }
    &-row {
        width: 100%;
        padding: 0 4vw;
        padding-bottom: 5vh;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        &-card {
            border: 1px solid #AAAAAA;
            outline: none;
            padding: 0;
            padding-bottom: 2vh;
            display: block;
            width: 20vw;    
            margin-left: 2vw;   
            margin-bottom: 8vh;    
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            &-image {
                width: 100%;
                margin-bottom: 1vh;
                position: relative;
                overflow: hidden;
                display: block;
                &-title {
                    width: 100%;
                    height: 30vh;
                    transition: all 0.3s ease-in-out;
                    transform: scale(1.01);
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            &-toprow {
                width: 100%;
                padding: 0 5%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $primary-color;
                font-size: 1rem;
                margin-bottom: 1vh;
                &-favorite {
                    @include center();
                    width: 15%;
                    &-icon {
                        width: 65%;
                        cursor: pointer;
                        &-bigger {
                            transform: scale(1.1);
                        }
                        &-path {
                            fill: #fff;
                            stroke: $primary-color;
                            &-liked {
                                fill: $primary-color;
                            }
                        }
                    }
                    display: none;
                }
            }
            &-name , &-description {
                display: block;
                padding-left: 5%;
                padding-right: 5%;
                font-weight: 500;
                color: $brand-black;
                font-size: 1rem;                
            }
            &-description {
                padding-top: 1vh;
                font-weight: 400;
                padding-right: 0%;
                font-size: 0.8rem;
            }
            &-category {
                margin-top: auto;
                padding-top: 1vh;
                padding-left: 5%;
                color: #A0A0A0;
                font-weight: 400;
                font-size: 0.8rem;
            }
            &-update {
                @include center();
                justify-content: flex-start;
                align-items: baseline;
                padding-left: 5%;
                padding-top: 1vh;
                padding-bottom: 1vh;
                &-amount {
                    color: $brand-black;
                    font-weight: 400;
                    font-size: 1.1rem;
                }
                &-currency {
                    color: #A0A0A0;
                    font-weight: 400;
                    font-size: 0.8rem;
                    padding-left: 0.5vw;
                }
            }
        }
    }
}

// styles for more than 1600px


@media only screen and (min-width: 1600px) {
    .product-section-1-column {
        &-name {
            font-size: 1vw;
        }
        &-heading {
            font-size: 2vw;
        }
        &-description , &-category , &-location , &-finance {
            font-size: 1.2vw;
        }
    }
    .product-section-1-column-btns-1-follow, .product-section-1-column-btns-1-back {
        font-size: 1.2vw;
    }
    .product-section-1-column-btns-1-follow-favorite-icon {
        width: 2vw;
        height: 3vh;
    }
    .product-section-2-menu-link {
        font-size: 1.4vw;
    }
    .product-section-2-tab , .product-section-2-tab-description , .product-section-2-tab-contact , .product-section-2-tab-address {
        font-size: 1.2vw;
    }
    .product-section-2-tab-heading , .interested-section-heading {
        font-size: 1.8vw;
    }
    .interested-section {
        &-row-card {
            &-toprow {
                font-size: 1.3vw;
            }
            &-name {
                font-size: 1.3vw;
            }
            &-description {
                font-size: 1.1vw;
            }
            &-category {
                font-size: 1.1vw;
            }
            &-update {
                &-amount {
                    font-size: 1vw;
                }
                &-currency {
                    font-size: 0.9vw;
                }
            }
        }
        &-btn {
            font-size: 1.5vw;
            width: 26%;
        }
    }
}


// RESPONSIVE STYLE FOR MORE THAN 1160 PX AND LESS THAN 1350 PX

@media only screen and (min-width: 1160px) and  (max-width:1350px) {    
    .interested-section {
        padding-bottom: 6vh;
        &-row {
            padding: 0 4vw;
            &-card {
                &-image {
                    &-title {
                        height: 25vh;
                    }
                }
            }
        }
    }    
    .header-mobile {
        display: none;
    }
}

@media only screen and (min-width:980px) and (max-width: 1160px) {    
    .interested-section {
        &-row {
            padding: 0 6vw;
            &-card {
                width: 25vw;
            }
        }
        &-btn {
            width: 27%;
        }
    }    
    .header-mobile {
        display: none;
    }
    .product-section-2-tab-1 {
        width: 80%;
    }
}


////////////////////////////////


///////////////////////////////


///////////////////////////////


@media only screen and (min-width: 768px) and (max-width:980px) {

    .product-section {
        &-1 {
            flex-direction: column;
            &-column {
                width: 100%;
                &-thumbnail {
                    width: 100%;
                    margin-bottom: 5vh;
                }
                &-location-img {
                    width: 2vw;
                }
                &-btns-2-img {
                    width: 3vw;
                    &:first-child {
                        width: 2vw;
                    }
                }
            }
        }
    }
    
    .interested-section {
        &-row {
            padding: 0 4vw;
            &-card {
                width: 28vw;
                &-image {
                    &-title {
                        height: 25vh;
                    }
                }
            }
        }
        &-btn {
            width: 27%;
        }
    }

    .product-section-2-tab-1 , .product-section-2-tab-description {
        width: 80%;
    }
    
}


@media only screen and (min-width: 620px) and (max-width:768px) {  
    
    .product-section {
        &-1 {
            padding-top: 4vh;
            flex-direction: column;
            &-column {
                width: 100%;
                &-thumbnail {
                    width: 100%;
                    margin-bottom: 5vh;
                }
                &-location-img {
                    width: 2vw;
                }
                &-btns-2-img {
                    width: 3vw;
                    &:first-child {
                        width: 2vw;
                    }
                }
            }
        }
    }


    .interested-section {
        &-row {
            padding: 0 4vw;
            &-card {
                width: 40vw;
                margin-left: 3vw;
                &-image {
                    &-title {
                        height: 28vh;
                    }
                }
            }
        }
        &-btn {
            width: 35%;
        }
    }

    .product-section-2-tab-1 , .product-section-2-tab-description {
        width: 95%;
    }
    
}


@media only screen and (max-width:620px) {

    html {
        font-size: 14px;
    }


    .product-section {
        &-1 {
            padding-top: 4vh;
            flex-direction: column;
            &-column {
                width: 100%;
                &-thumbnail {
                    width: 100%;
                    margin-bottom: 5vh;
                }
                &-location-img {
                    width: 3vw;
                }
                &-btns-2-img {
                    width: 4vw;
                    &:first-child {
                        width: 2.8vw;
                    }
                }
            }
        }
    }
    
    .interested-section {
        padding-bottom: 0vh;
        &-heading {
            font-size: 1.6rem;
            padding-bottom: 6vh;
            text-align: center;
        }
        &-row {
            padding: 0 4vw;
            &-card {
                width: 50vw;
                margin: auto;
                margin-bottom: 7vh;
                &-image {
                    &-title {
                        height: 30vh;
                    }
                }
            }
        }
        &-btn {
            width: 52%;
            font-size: 1rem;
            border-radius: 1vw;
        }
    }

    .product-section-2-tab-1 , .product-section-2-tab-description {
        width: 95%;
    }

    .product-section-2-menu {
        display: none;
    }

    .product-section-2-tab-1 {
        padding-bottom: 5vh;
    }

    .product-section-2-tab-2 {
        padding-top: 2vh;
        display: block !important;
    }
    
}


@media only screen and (max-width:500px) {  
    
    .product-section {
        &-1 {
            padding-top: 4vh;
            flex-direction: column;
            &-column {
                width: 100%;
                &-thumbnail {
                    width: 100%;
                    margin-bottom: 5vh;
                }
                &-location-img {
                    width: 3vw;
                }
                &-btns-2-img {
                    width: 6vw;
                    margin-left: 3vw;
                    &:first-child {
                        width: 3.8vw;
                        margin-left: 0;
                    }
                }
                &-btns {
                    flex-direction: column;
                    align-items: flex-start;
                    &-1 {
                        margin-bottom: 3vh;
                        justify-content: space-between;
                        width: 100%;
                        &-follow {
                            padding: 1vh 3vw;
                            &-text {
                                margin-left: 1.5vw;
                            }
                        }
                        &-back {
                            padding: 1vh 3vw;
                        }
                    }
                }
            }
        }
    }


    .interested-section {
        padding-bottom: 0vh;
        &-heading {
            font-size: 1.6rem;
            padding-bottom: 6vh;
        }
        &-row {
            padding: 0 4vw;
            &-card {
                width: 62vw;
                margin: auto;
                margin-bottom: 7vh;
                &-image {
                    &-title {
                        height: 30vh;
                    }
                }
            }
        }
        &-btn {
            width: 65%;
            font-size: 1rem;
            border-radius: 1vw;
        }
    }    
}

@media only screen and (max-width:440px) { 
    
    .product-section {
        &-1 {
            padding-top: 4vh;
            flex-direction: column;
            &-column {
                width: 100%;
                &-thumbnail {
                    width: 100%;
                    margin-bottom: 5vh;
                }
                &-location-img {
                    width: 3vw;
                }
                &-btns-2-img {
                    width: 6vw;
                    margin-left: 3vw;
                    &:first-child {
                        width: 3.8vw;
                        margin-left: 0;
                    }
                }
                &-btns {
                    flex-direction: column;
                    align-items: flex-start;
                    &-1 {
                        margin-bottom: 3vh;
                        justify-content: space-between;
                        width: 100%;
                        &-follow {
                            padding: 1vh 3vw;
                            &-text {
                                margin-left: 1.5vw;
                            }
                        }
                        &-back {
                            padding: 1vh 3vw;
                        }
                    }
                }
            }
        }
    }


    .interested-section {
        padding-bottom: 0vh;
        &-heading {
            font-size: 1.6rem;
            padding-bottom: 6vh;
        }
        &-row {
            padding: 0 4vw;
            &-card {
                width: 68vw;
                margin: auto;
                margin-bottom: 7vh;
                &-image {
                    &-title {
                        height: 30vh;
                    }
                }
            }
        }
        &-btn {
            width: 70%;
            font-size: 1rem;
            border-radius: 1vw;
        }
    }    
}

@media only screen and (max-width:380px) {   
    
    .product-section {
        &-1 {
            padding-top: 4vh;
            flex-direction: column;
            &-column {
                width: 100%;
                &-heading {
                    font-size: 1.5rem;
                }
                &-thumbnail {
                    width: 100%;
                    margin-bottom: 5vh;
                }
                &-location-img {
                    width: 5vw;
                }
                &-btns-2-img {
                    width: 6vw;
                    margin-left: 3vw;
                    &:first-child {
                        width: 3.8vw;
                        margin-left: 0;
                    }
                }
                &-btns {
                    flex-direction: column;
                    align-items: flex-start;
                    &-1 {
                        margin-bottom: 3vh;
                        justify-content: space-between;
                        width: 100%;
                        &-follow {
                            padding: 1vh 3vw;
                            &-text {
                                margin-left: 1.5vw;
                            }
                        }
                        &-back {
                            padding: 1vh 3vw;
                        }
                    }
                }
            }
        }
    }


    .interested-section {
        padding-bottom: 0vh;
        &-heading {
            font-size: 1.6rem;
            padding-bottom: 6vh;
        }
        &-row {
            padding: 0 4vw;
            &-card {
                width: 72vw;
                &-image {
                    &-title {
                        height: 30vh;
                    }
                }
            }
        }
        &-btn {
            width: 70%;
            font-size: 1rem;
            border-radius: 1vw;
        }
    }    
}

@media only screen and (max-width:320px) {  
    
    .product-section {
        &-1 {
            padding-top: 4vh;
            flex-direction: column;
            &-column {
                width: 100%;
                &-heading {
                    font-size: 1.5rem;
                }
                &-thumbnail {
                    width: 100%;
                    margin-bottom: 5vh;
                }
                &-location-img {
                    width: 5vw;
                }
                &-btns-2-img {
                    width: 8vw;
                    margin-left: 3vw;
                    &:first-child {
                        width: 4.8vw;
                        margin-left: 0;
                    }
                }
                &-btns {
                    flex-direction: column;
                    align-items: flex-start;
                    &-1 {
                        margin-bottom: 3vh;
                        justify-content: space-between;
                        width: 100%;
                        &-follow {
                            padding: 1vh 3vw;
                            &-text {
                                margin-left: 1.5vw;
                            }
                        }
                        &-back {
                            padding: 1vh 3vw;
                        }
                    }
                }
            }
        }
    }


    .interested-section {
        padding-bottom: 0vh;
        &-heading {
            font-size: 1.6rem;
            padding-bottom: 6vh;
        }
        &-row {
            padding: 0 4vw;
            &-card {
                width: 82vw;
                &-image {
                    &-title {
                        height: 30vh;
                    }
                }
            }
        }
        &-btn {
            width: 70%;
            font-size: 1rem;
            border-radius: 1vw;
        }
    }
    
}