.header {
  -webkit-box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
  margin-bottom: 3vh;
}

.signup {
  padding: 10vh 30%;
  background-color: #fff;
  width: 100%;
}

.signup-container {
  width: 100%;
  border: 0.15rem solid #A0A0A0;
  padding: 10vh 10%;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.signup-container-heading {
  color: #181819;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 2vh;
}

.signup-container-toprow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  color: #181819;
  margin-bottom: 5vh;
}

.signup-container-toprow-logo {
  width: 10vw;
  margin-left: 1vw;
}

.signup-container-input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3vh;
  width: 90%;
}

.signup-container-input-row-label {
  margin-bottom: 1vh;
  color: #181819;
  font-size: 1rem;
}

.signup-container-input-row-label-link {
  color: #FC7753;
}

.signup-container-input-row-input {
  width: 100%;
  border-radius: 2rem;
  padding: 1.5vh 1vw;
  border: 0.1rem solid #181819;
  outline: none;
}

.signup-container-input-row-input::-webkit-input-placeholder {
  color: #ddd;
  font-size: 0.9rem;
}

.signup-container-input-row-input:-ms-input-placeholder {
  color: #ddd;
  font-size: 0.9rem;
}

.signup-container-input-row-input::-ms-input-placeholder {
  color: #ddd;
  font-size: 0.9rem;
}

.signup-container-input-row-input::placeholder {
  color: #ddd;
  font-size: 0.9rem;
}

.signup-container-input-row-input-checkbox {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.signup-container-input-row-input-checkbox:checked ~ .checkmark {
  background-color: #FC7753;
}

.signup-container-input-row-input-checkbox:checked ~ .checkmark:after {
  display: block;
}

.signup-container-input-row-checkboxrow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.signup-container-input-row-checkboxlabel {
  margin-left: 2vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.signup-container-submit-btn {
  width: 90%;
  background-color: #FC7753;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  outline: none;
  padding: 1vh 0vw;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 3vh;
}

.signup-container-lastrow {
  color: #979797;
  font-size: 1rem;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  border: 0.1rem solid #181819;
  border-radius: 0.1rem;
  background-color: #fff;
  cursor: pointer;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  left: 35%;
  top: 15%;
  width: 15%;
  height: 40%;
  border: solid white;
  border-width: 0 0.15rem 0.15rem 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 1600px) {
  .signup-container-heading {
    font-size: 2vw;
  }
  .signup-container-toprow {
    font-size: 1.2vw;
  }
  .signup-container-input-row-label, .signup-container-input-row-input {
    font-size: 1.2vw;
  }
  .signup-container-input-row-label::-webkit-input-placeholder, .signup-container-input-row-input::-webkit-input-placeholder {
    font-size: 1.2vw;
  }
  .signup-container-input-row-label:-ms-input-placeholder, .signup-container-input-row-input:-ms-input-placeholder {
    font-size: 1.2vw;
  }
  .signup-container-input-row-label::-ms-input-placeholder, .signup-container-input-row-input::-ms-input-placeholder {
    font-size: 1.2vw;
  }
  .signup-container-input-row-label::placeholder, .signup-container-input-row-input::placeholder {
    font-size: 1.2vw;
  }
  .signup-container-lastrow {
    font-size: 1.2vw;
  }
  .signup-container-submit-btn {
    font-size: 1.2vw;
  }
  .checkmark {
    height: 1.5vw;
    width: 1.5vw;
  }
  .signup-container-input-row-input-checkbox {
    height: 1.5vw;
    width: 1.5vw;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1180px) {
  .signup {
    padding: 10vh 25%;
  }
  .signup-container {
    padding: 10vh 6%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
  .signup {
    padding: 10vh 20%;
  }
  .signup-container {
    padding: 10vh 4%;
  }
  .signup-container-toprow-logo {
    width: 15vw;
  }
  .signup-container-input-row-checkboxlabel {
    margin-left: 3vw;
  }
}

@media only screen and (min-width: 620px) and (max-width: 768px) {
  .signup {
    padding: 10vh 15%;
  }
  .signup-container {
    padding: 10vh 3%;
  }
  .signup-container-toprow-logo {
    width: 15vw;
  }
  .signup-container-input-row-checkboxlabel {
    margin-left: 3vw;
  }
}

@media only screen and (max-width: 620px) {
  .signup {
    padding: 0;
  }
  .signup-container {
    border: none;
  }
  .signup-container-toprow-logo {
    width: 15vw;
  }
  .signup-container-input-row-checkboxlabel {
    margin-left: 5vw;
  }
}

@media only screen and (max-width: 500px) {
  .signup-container {
    padding: 6vh 5%;
  }
  .signup-container-toprow-logo {
    width: 20vw;
  }
}

input:invalid:not(:placeholder-shown) {
  border: 2px solid red !important;
}

input:invalid:not(:placeholder-shown) + [data-validation-text] {
  color: red !important;
  display: block;
}

[data-validation-text] {
  display: none;
}
/*# sourceMappingURL=signup.css.map */