* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}


//////////////////////////////////////////////////////

// 1. header
// 2. start campaign container

//////////////////////////////////////////////////////


.header {
    box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
    margin-bottom: 3vh;
}

.start-campaign {
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 100%;
    background-color: #fff;
    @include center();
    flex-direction: column;
    justify-content: flex-start;
    &-title {
        width: 20%;
        @include center();
        margin-bottom: 3vh;
        &-img {
            width: 100%;
        }
    }
    &-heading {
        color: $brand-black;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2vh;
    }
    &-text {
        color: $brand-black;
        font-size: 1.5rem;
    }
    &-form {        
        width: 92%;
        margin: auto;
        margin-top: 5vh;
        padding: 5vh 0;
        border: 0.5rem solid #ECECEC;
        border-radius: 0.6rem;
        @include center();
        flex-direction: column;
        justify-content: flex-start;
        &-heading {
            color: $brand-black;
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2vh;
        }
        &-text {
            width: 50%;
            text-align: center;
            font-size: 1.4rem;
            color: $brand-black;
            margin-bottom: 2vh;
        }
        &-logo {
            width: 15%;
            margin: auto;
            @include center();
            margin-bottom: 3vh;
            &-img {
                width: 100%;
            }
        }
        &-btns {
            @include center();
            justify-content: space-between;
            width: 40%;        
            margin: auto;
            margin-top: 3vh;
        }
        &-btn {
            padding: 1.5vh 4vw;
            background-color: $primary-color;
            color: #fff;
            margin: auto;
            border-radius: 0.5rem;
            font-size: 1.4rem;
            margin-bottom: 3vh;
        }
    }
    &-note {        
        width: 92%;
        margin: auto;
        margin-top: 6vh;
        text-align: center;
        font-size: 1.2rem;
        color: $brand-black;
        margin-bottom: 10vh;
    }
}

@media only screen and (min-width:1600px) {
    html {
        font-size: 1.2vw;
    }
}

@media only screen and (min-width:980px) and (max-width:1080px) {
    .start-campaign-form-text {
        width: 65%;
    }
}

@media only screen and (min-width:768px) and (max-width:980px) {
    .start-campaign-form-text {
        width: 75%;
    }
    .start-campaign-form-logo {
        width: 35%;
    }
    .start-campaign-form-btns {
        width: 60%;
    }
}

@media only screen and (min-width:620px) and (max-width:768px) {
    .start-campaign-form-text {
        width: 85%;
    }
    .start-campaign-form-logo {
        width: 35%;
    }
    .start-campaign-form-btns {
        width: 60%;
    }
}


@media only screen and (max-width:620px) {
    html {
        font-size: 14px;
    }
    .start-campaign-form-text {
        width: 85%;
    }
    .start-campaign-form-logo {
        width: 35%;
    }
    .start-campaign-form-btns {
        width: 60%;
    }
}

@media only screen and (max-width:450px) {
    html {
        font-size: 14px;
    }
    .start-campaign-heading {
        font-size: 2.5rem;
    }
    .start-campaign-form-text {
        width: 90%;
    }
    .start-campaign-form-logo {
        width: 50%;
    }
    .start-campaign-form-btns {
        width: 80%;
    }
}

@media only screen and (max-width:380px) {
    html {
        font-size: 14px;
    }
    .start-campaign-heading {
        font-size: 2.5rem;
    }
    .start-campaign-form-text {
        width: 90%;
    }
    .start-campaign-form-logo {
        width: 50%;
    }
    .start-campaign-form-btns {
        width: 80%;
    }
    .start-campaign-text {
        text-align: center;
    }
}