// font imported from google

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// configurations 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}

//////////////////////////////////////////////////////

// 1. header
// 2. hero
// 3. popular projects
// 4. cool and clever 
// 5. back the project 
// 6. categories 
// 7. clever things 
// 8. footer 

//////////////////////////////////////////////////////

//////////////////// 1. HEADER ///////////////////////
//////////////////// 1. HEADER ///////////////////////
//////////////////// 1. HEADER ///////////////////////

.header {
    width: 100%;
    height: 14vh;
    background-color: #ffffff;
    display: flex;  
    align-items: center;  
    font-size: 0.9rem;
    &-logo {
        padding-left: 1.3rem;
        display: flex;
        align-items: center;
        &-img {
            width: 10.5rem;
        }
    }
    &-explore {               
        margin-left: 2.6rem;
        padding: 0 1rem;
        padding-right: 0;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease-in-out;
        &-icon {
            margin-left: 5%;
            &-img {
                width: 0.8rem;
                cursor: pointer;
            }
        }
        &-content {
            position: absolute;
            width: 100%;
            height: 0;
            overflow: hidden;
            left: 0;
            top: 14vh;
            z-index: 2;
            background-color: #fff;            
            transition: all 0.3s ease-in;
            &-row {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding-bottom: 5vh;
                width: 80%;
                height: 45%;
                margin: auto;
                &-column {
                    height: 100%;
                    margin-right: 2vw;                
                    &-heading {
                        color: $brand-black;
                        font-size: 1.4rem;
                        margin-bottom: 3vh;
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &-1 {
                        width: 45%;
                    }
                    &-2 {
                        width: 17.8%;
                    }
                    &-3 {
                        width: 19%;
                    }
                    &-link {
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        &-img {
                            width: 100%;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
            &-bottom {
                width: 100%;
                height: 45vh;
                background-color: #F2F2F2;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 3vh 10%;
                &-line {
                    width: 5%;
                    margin-left: 6%;
                    height: 100%;
                    &-verticle {
                        width: 2px;
                        height: 100%;
                        background-color: #A0A0A0;
                    }
                }
                &-column {
                    width: 40%;
                    &-heading {
                        font-size: 1.4rem;
                        color: $brand-black;
                        margin-bottom: 3vh;
                    }
                    &-links {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;                        
                        &-column {         
                            &-link {
                                margin-bottom: 2vh;
                                display: block;
                            }               
                        }
                    }
                }
            }
        }
        &-btn {
            display: flex;
            position: relative;
            cursor: pointer;            
        } 
    }
    &-story {
        margin-left: 2.5%;
    }
    &-search {
        display: flex;        
        width: 16rem;
        margin-left: 1.5rem;
        &-icon {
            display: flex;
            align-items: center;
            cursor: pointer;
            &-img {
                width: 1.1rem;
            }
        }
        &-input {
            &-box {
                border: none;
                outline: none;
                width: 0;      
                padding: 0;                 
                transition: all 0.3s;
                &::placeholder {
                    color: #979797;
                } 
                &-shown {         
                    background-color: #F2F2F2;
                    border-radius: 1rem;                       
                    margin-left: 5%;           
                    padding: 0.6rem 1rem;  
                    width: 14rem;                    
                }           
            }
        }
    }
    &-link {
        width: 17rem;
        display: flex;
        justify-content: space-between;
        margin-left: 9.7rem;
    }
    &-btn {
        border-left: 0.8px solid #A0A0A0;
        display: flex;
        margin-left: 1rem;
        padding-left: 2rem;
        width: 12rem;
        height: 60%;
        align-items: center;
        justify-content: space-between;
            &-signup{
                padding: 4% 10%;
                background-color:$primary-color;
                border-radius: 0.5rem;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
        }
    }
    &-loggedin-btns {
        @include center();
        justify-content: space-between;   
        border-left: 0.8px solid #A0A0A0;
        margin-left: 1rem;
        padding-left: 2vw;     
        &-logout {
            font-size: 1rem;
            color: $brand-black;
        }
        &-profile {
            margin-left: 4vw;
            &-img {
                width: 3.5vw;  
                cursor: pointer;              
            }
        }
    }
}

.header-explore:hover .header-explore-content  {                
    height: 80%;
    transition: all 0.3s ease-in;
}

//////////////////// 1. HEADER ///////////////////////
//////////////////// 1. HEADER ///////////////////////
//////////////////// 1. HEADER ///////////////////////

//////////////////// 2. HERO ///////////////////////
//////////////////// 2. HERO ///////////////////////
//////////////////// 2. HERO ///////////////////////

.hero {
    width: 100%;
    height: 100vh;
    &-swiper {
        &-container {
            width: 100%;
            height: 100%;
        }
        &-wrapper {
            width: 100%;
            height: 100%;
        }
        &-slide {
            width: 100%;
            height: 100%;
            @include center();            
            &-1 {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url(../images/hero-bg-1.png);
                background-size: 100%;   
                background-repeat: no-repeat;           
                background-color: #fff;  
            }
            &-2 {
                background-image: url(../images/hero-bg-2.png);
                background-repeat: no-repeat;       
                background-color: #fff;      
            }
            &-3 {
                background-image: url(../images/hero-bg-3.png);
                background-repeat: no-repeat;             
                background-color: #fff;
            }
            &-content {
                background-color: #18181948;                
                width: 100%;
                height: 100%;
                color: #fff;
                @include center();
                flex-direction: column;
                justify-content: flex-start;
                padding-top: 25vh;
                &-heading {
                    font-size: 3rem;
                }
                &-paragraph {
                    font-size: 1.2rem;
                    width: 55%;
                    text-align: center;
                    margin-top: 3vh;
                }
                &-btn {
                    margin-top: 5vh;
                    background-color: $primary-color;
                    color: #fff;
                    padding: 1.5vh 5%;
                    border-radius: 0.5rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
    &-scroll-icon {
        width: 2%;
        margin: auto;
        &-img {
            width: 100%;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-delay: 3s;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.swiper-button-prev::after {
    color: #fff;
}
.swiper-button-next::after {
    color: #fff;
}

//////////////////// 2. HERO ///////////////////////
//////////////////// 2. HERO ///////////////////////
//////////////////// 2. HERO ///////////////////////

//////////////////// 3. POPULAR PROJECTS ///////////////////////
//////////////////// 3. POPULAR PROJECTS ///////////////////////
//////////////////// 3. POPULAR PROJECTS ///////////////////////

.popular-projects {
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 100%;
    background-color: #fff;
    &-heading {
        width: 100%;
        padding-left: 4vw;
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 10vh;
    }
    &-row {
        width: 100%;
        padding: 0 4vw;
        padding-bottom: 5vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        &-card {
            border: 1px solid #AAAAAA;
            outline: none;
            padding: 0;
            padding-bottom: 2vh;
            display: block;
            width: 20vw;    
            margin-left: 2vw;   
            margin-bottom: 8vh;    
            &-image {
                width: 100%;
                height: 100%;
                margin-bottom: 1vh;
                position: relative;
                overflow: hidden;
                display: block;
                &-title {
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    transform: scale(1.01);
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            &-toprow {
                width: 100%;
                padding: 0 5%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $primary-color;
                font-size: 1rem;
                margin-bottom: 1vh;
                &-favorite {
                    @include center();
                    width: 15%;
                    &-icon {
                        width: 65%;
                        cursor: pointer;
                        &-bigger {
                            transform: scale(1.1);
                        }
                        &-path {
                            fill: #fff;
                            stroke: $primary-color;
                            &-liked {
                                fill: $primary-color;
                            }
                        }
                    }
                }
            }
            &-name , &-description {
                display: block;
                padding-left: 5%;
                padding-right: 5%;
                font-weight: 500;
                color: $brand-black;
                font-size: 1rem;                
            }
            &-description {
                padding-top: 1vh;
                font-weight: 400;
                padding-right: 0%;
                font-size: 0.8rem;
            }
            &-category {
                padding-top: 1vh;
                padding-left: 5%;
                color: #A0A0A0;
                font-weight: 400;
                font-size: 0.8rem;
            }
            &-update {
                @include center();
                justify-content: flex-start;
                align-items: baseline;
                padding-left: 5%;
                padding-top: 1vh;
                padding-bottom: 1vh;
                &-amount {
                    color: $brand-black;
                    font-weight: 400;
                    font-size: 1.1rem;
                }
                &-currency {
                    color: #A0A0A0;
                    font-weight: 400;
                    font-size: 0.8rem;
                    padding-left: 0.5vw;
                }
            }
        }
    }
}

//////////////////// 3. POPULAR PROJECTS ///////////////////////
//////////////////// 3. POPULAR PROJECTS ///////////////////////
//////////////////// 3. POPULAR PROJECTS ///////////////////////

//////////////////// 4. COOL CLEVER ///////////////////////
//////////////////// 4. COOL CLEVER ///////////////////////
//////////////////// 4. COOL CLEVER ///////////////////////

.cool-clever {    
    padding: 5vh 0vw;
    padding-top: 0;
    width: 92%;
    height: 70vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 0.5rem;
    &:hover .cool-clever-image-title {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
    }
    &-image {        
        width: 100%;
        border-radius: 0.5rem;
        position: relative;
        overflow: hidden;        
        &-title {
            border-radius: 0.5rem;
            width: 100%;
            &:hover {
                transform: scale(1.2);
                transition: all 0.3s ease-in-out;
            }
        }
    }
    &-content {       
        border-radius: 0.5rem;
        background-color: #1818192f;
        color: #fff;
        position: absolute;
        left: 0vw;
        top: 0vh;
        right: 0vw;
        bottom: 0vh;
        @include center();
        font-size: 3rem;
        font-weight: 700;
    }
}

//////////////////// 4. COOL CLEVER ///////////////////////
//////////////////// 4. COOL CLEVER ///////////////////////
//////////////////// 4. COOL CLEVER ///////////////////////

//////////////////// 5. BACK THE PROJECTS ///////////////////////
//////////////////// 5. BACK THE PROJECTS ///////////////////////
//////////////////// 5. BACK THE PROJECTS ///////////////////////

.back-project {
    padding: 5vh 4vw;
    &-content {
        width: 100%;
        background-image: url(../images/back-bg.png);
        background-size: 100%;
        @include center();
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 10vh;
        &-heading {
            color: $brand-black;
            font-weight: 500;
            font-size: 2.5rem;
        }
        &-paragraph {
            color: $brand-black;
            font-weight: 400;
            font-size: 1.2rem;
            text-align: center;
            padding-top: 5vh;
            margin-bottom: 4vh;
            width: 60%;
        }
        &-btn {
            color: $brand-black;
            background-color: #F6F6F6;
            padding: 1.5vh 4vw;
            margin-bottom: 8vh;
            border-radius: 0.5rem;
            font-size: 1.4rem;
        }
    }
}

//////////////////// 5. BACK THE PROJECTS ///////////////////////
//////////////////// 5. BACK THE PROJECTS ///////////////////////
//////////////////// 5. BACK THE PROJECTS ///////////////////////

//////////////////// 6. CATEGORIES ///////////////////////
//////////////////// 6. CATEGORIES ///////////////////////
//////////////////// 6. CATEGORIES ///////////////////////

.categories {
    width: 100%;
    background-color: #fff;
    padding: 5vh 4vw;
    @include center();
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
    color: $brand-black;
    &-heading {
        font-weight: 600;
        font-size: 2rem;
    }
    &-paragraph {
        font-size: 1.2rem;
        width: 60%;
        text-align: center;
        margin-top: 3vh;
    }
    &-btn {
        color: #fff;
        background-color: $primary-color;
        font-size: 1.3rem;
        padding: 1.3vh 4vw;
        border-radius: 0.5rem;
        margin-top: 5vh;
        margin-bottom: 4vh;
    }
    &-link {
        color: #000;
        font-size: 1rem;
    }
    &-row {
        margin-top: 10vh;
        @include center();
        justify-content: space-between;
        align-items: baseline;
        width: 80%;
        padding-bottom: 4vh;
        border-bottom: 4px solid #ECECEC; 
        font-size: 1.4rem;       
        &-link {
            @include center();
            flex-direction: column;
            width: 10%;
            &-icon {
                width: 50%;
                @include center();      
                &-phone {
                    width: 25%;
                }          
                &-img {
                    width: 100%;
                    margin-bottom: 3vh;
                }
            }            
        }
    }
}

//////////////////// 6. CATEGORIES ///////////////////////
//////////////////// 6. CATEGORIES ///////////////////////
//////////////////// 6. CATEGORIES ///////////////////////

//////////////////// 7. CLEVER THINGS ///////////////////////
//////////////////// 7. CLEVER THINGS ///////////////////////
//////////////////// 7. CLEVER THINGS ///////////////////////

.clever-things {
    width: 100%;
    background-color: #fff;
    padding: 5vh 4vw;
    @include center();
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
    color: $brand-black;
    &-heading {
        font-weight: 600;
        font-size: 2rem;
    }
    &-paragraph {
        font-size: 1rem;
        width: 80%;
        text-align: center;
        margin-top: 3vh;
    }    
    &-row {
        margin-top: 3vh;
        @include center();
        justify-content: space-between;
        align-items: baseline;
        width: 45%;
        padding-bottom: 4vh;
        &-btn {
            color: #fff;
            background-color: $primary-color;
            font-size: 1.3rem;
            padding: 1.3vh 4vw;
            border-radius: 0.5rem;
            margin-top: 5vh;
            margin-bottom: 4vh;
            border: 0.2rem solid $primary-color;
            &-2 {
                background-color: #fff;
                color: #000;
            }
        }
    }
}

//////////////////// 7. CLEVER THINGS ///////////////////////
//////////////////// 7. CLEVER THINGS ///////////////////////
//////////////////// 7. CLEVER THINGS ///////////////////////


//////////////////// 8. FOOTER ///////////////////////
//////////////////// 8. FOOTER ///////////////////////
//////////////////// 8. FOOTER ///////////////////////

.footer {
    width: 100%;
    background-color: #ECECEC;
    padding: 12vh 4vw 7vh 4vw;
    color: $brand-black;
    &-top {
        width: 100%;
        padding-bottom: 10vh;
        border-bottom: 4px solid #D0D0D0;
        margin-bottom: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-column-1 {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &-column {
                &-heading {
                    font-size: 1.4rem;
                    margin-bottom: 3vh;
                }
                &-link {
                    display: block;
                    margin-bottom: 2vh;
                }
            }
        }
        &-column-2 {
            width: 40%;
            &-icon {
                @include center();
                &-img {
                    width: 10%;
                    margin-bottom: 2vh;
                }
            }
            &-text {
                text-align: center;
                font-size: 1.2rem;
                width: 70%;
                margin: auto;
                margin-bottom: 3vh;
            }
            &-form {
                &-input {
                    width: 70%;
                    margin: auto;
                    display: block;
                    height: 8vh;
                    border: none;
                    outline: none;
                    background-color: #fff;
                    color: $brand-black;
                    font-size: 1rem;
                    padding: 0.5vh 1vw;
                    border-radius: 0.5rem;
                    margin-bottom: 3vh;
                    &::placeholder {
                        color: #979797;
                        font-size: 1rem;
                    }
                }
                &-inner {
                    width: 70%;
                    margin: auto;
                    text-align: center;
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    margin-bottom: 3vh;
                    position: relative;
                }
                &-checkbox {
                    width: 1.4rem;
                    height: 1.4rem;                    
                    border-radius: 0;
                    width: 10%;
                    border: none;
                    position: relative;
                    z-index: 100;
                    opacity: 0;
                    cursor: pointer;
                    &:checked ~ .footer-checkmark {
                        background-color: $primary-color;
                    }
                    &:checked ~ .footer-checkmark:after {
                        display: block;
                    }
                    &-text {
                        width: 90%;
                        font-size: 1rem;
                        color: $brand-black;
                        user-select: none;
                        display: block;
                        text-align: left;
                        cursor: pointer;
                    }
                }
                &-btn {
                    display: block;
                    width: 70%;
                    margin: auto;
                    border: none;
                    outline: none;
                    background-color: $primary-color;
                    color: #fff;
                    font-size: 1.2rem;
                    border-radius: 0.5rem;
                    padding: 1vh 0vw;
                    cursor: pointer;
                }
            }
        }
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        &-column {
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            &-1 {
                width: 40%;
            }
            &-2 {
                width: 60%;
            }
            &-social {
                margin-right: 2vw;
                &-img {
                    &-1 {
                        width: 1.2vw;
                    }
                    width: 2vw;
                }
            }
            &-link {
                margin-right: 2vw;
            }
        }
    }
}

.footer-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #fff;
  cursor: pointer;
}
.footer-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.footer-checkmark:after {
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  //////////////////// 8. FOOTER ///////////////////////
  //////////////////// 8. FOOTER ///////////////////////
  //////////////////// 8. FOOTER ///////////////////////


//   responsive styling for more than 1400px

@media only screen and (min-width: 1400px) and (max-width:1600px) {
    //////////////////// 1. HEADER ///////////////////////
    //////////////////// 1. HEADER ///////////////////////
    //////////////////// 1. HEADER ///////////////////////
    .header {
        &-logo {
            // padding-left: 3vw;
            &-img {
                // width: 15vw;
            }
        }
        &-explore {
            margin-left: 6vw;
            &-btn {
                // font-size: 1.3vw;
            }
            &-icon-img {
                // width: 1.2vw;
            }
            &-content {
                &-row {
                    // padding-top: 3vh;
                    &-column {
                        &-heading {
                            // font-size: 1.6vw;
                        }
                    }
                }  
                &-bottom-column {
                    &-heading {
                        // font-size: 1.6vw;
                    }
                    &-links {
                        // font-size: 1.2vw;
                    }
                }              
            }
        }
        &-story {
            // font-size: 1.3vw;
        }
        &-search-icon {
            &-img {
                // width: 1.4vw;
            }
        }
        &-search-input {
            &-box-shown {
                // width: 18vw;
                // font-size: 1.3vw;
                // padding: 1.2vh 1vw;
                // border-radius: 2vw;
            }
        }
        &-link {
            // margin-left: 13vw;
            // font-size: 1.3vw;
            // width: 23vw;
        }
        &-btn {
            // margin-left: 2vw;
            // font-size: 1.3vw;
            // width: 14vw;
            // border-left: 0.1vw solid #A0A0A0;
            &-signup {
                // border-radius: 0.5vw;
            }
        }
    }
    //////////////////// 1. HEADER ///////////////////////
    //////////////////// 1. HEADER ///////////////////////
    //////////////////// 1. HEADER ///////////////////////

    //////////////////// 2. HERO ///////////////////////
    //////////////////// 2. HERO ///////////////////////
    //////////////////// 2. HERO ///////////////////////
    .hero {
        height: 90vh;
    }
    .hero-swiper-slide-content {
        padding-top: 22vh;
        &-heading {
            font-size: 4vw;
        }
        &-paragraph {
            font-size: 1.8vw;
        }
        &-btn {
            font-size: 1.8vw;
            border-radius: 0.5vw;
        }
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 2vw !important;
        right: auto;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 2vw !important;
        left: auto;
    }
    :root {
        --swiper-navigation-size: 60px !important;
    }
    //////////////////// 2. HERO ///////////////////////
    //////////////////// 2. HERO ///////////////////////
    //////////////////// 2. HERO ///////////////////////

    //////////////////// 3. POPULAR PROJECTS ///////////////////////
    //////////////////// 3. POPULAR PROJECTS ///////////////////////
    //////////////////// 3. POPULAR PROJECTS ///////////////////////

    .popular-projects {
        &-heading {
            font-size: 2.5vw;
        }
        &-row-card {
            &-toprow {
                font-size: 1.3vw;
            }
            &-name {
                font-size: 1.3vw;
            }
            &-description {
                font-size: 1.1vw;
            }
            &-category {
                font-size: 1.1vw;
            }
            &-update {
                &-amount {
                    font-size: 1vw;
                }
                &-currency {
                    font-size: 0.9vw;
                }
            }
        }
    }
    //////////////////// 3. POPULAR PROJECTS ///////////////////////
    //////////////////// 3. POPULAR PROJECTS ///////////////////////
    //////////////////// 3. POPULAR PROJECTS ///////////////////////

    //////////////////// 4. COOL N CLEVER ///////////////////////
    //////////////////// 4. COOL N CLEVER ///////////////////////
    //////////////////// 4. COOL N CLEVER ///////////////////////

    .cool-clever {
        height: 60vh;
        &-content {
            font-size: 4vw;
        }
    }

    //////////////////// 4. COOL N CLEVER ///////////////////////
    //////////////////// 4. COOL N CLEVER ///////////////////////
    //////////////////// 4. COOL N CLEVER ///////////////////////

    //////////////////// 5. BACK PROJECT ///////////////////////
    //////////////////// 5. BACK PROJECT ///////////////////////
    //////////////////// 5. BACK PROJECT ///////////////////////

    .back-project {
        &-content {
            background-repeat: no-repeat;
            &-heading {
                font-size: 3vw;
            }
            &-paragraph {
                font-size: 1.4vw;
            }
            &-btn {
                font-size: 1.6vw;
                font-weight: 500;
                border-radius: 0.6vw;
            }
        }
    }

    //////////////////// 5. BACK PROJECT ///////////////////////
    //////////////////// 5. BACK PROJECT ///////////////////////
    //////////////////// 5. BACK PROJECT ///////////////////////

    //////////////////// 6. CATEGORIES ///////////////////////
    //////////////////// 6. CATEGORIES ///////////////////////
    //////////////////// 6. CATEGORIES ///////////////////////

    .categories {
        &-heading {
            font-size: 2.4vw;
        }
        &-paragraph {
            font-size: 1.6vw;
        }
        &-btn {
            font-size: 1.6vw;
        }
        &-link {
            font-size: 1.4vw;
        }
        &-row {
            font-size: 1.5vw;
        }
    }

    //////////////////// 6. CATEGORIES ///////////////////////
    //////////////////// 6. CATEGORIES ///////////////////////
    //////////////////// 6. CATEGORIES ///////////////////////

    //////////////////// 7. CLEVER THINGS ///////////////////////
    //////////////////// 7. CLEVER THINGS ///////////////////////
    //////////////////// 7. CLEVER THINGS ///////////////////////

    .clever-things {
        &-heading {
            font-size: 2.4vw;
        }
        &-paragraph {
            font-size: 1.5vw;
        }
        &-row {
            &-btn {
                font-size: 1.6vw;
            }
        }
    }

    //////////////////// 7. CLEVER THINGS ///////////////////////
    //////////////////// 7. CLEVER THINGS ///////////////////////
    //////////////////// 7. CLEVER THINGS ///////////////////////

    //////////////////// 8. FOOTER ///////////////////////
    //////////////////// 8. FOOTER ///////////////////////
    //////////////////// 8. FOOTER ///////////////////////

    .footer {
        &-top {
            &-column-1 {
                &-column {
                    &-heading {
                        font-size: 1.5vw;
                    }
                    &-link {
                        font-size: 1.2vw;
                    }
                }                
            }
            &-column-2 {
                &-text {
                    font-size: 1.2vw;
                }
                &-form-input {
                    font-size: 1.2vw;
                    height: 7vh;
                }
                &-form-checkbox {
                    &-text {
                        font-size: 1vw;
                    }
                }
                &-form-btn {
                    font-size: 1.4vw;
                }
            }
        }
        &-checkmark {
            height: 2vw;
            width: 2vw;
        }
        &-bottom {
            font-size: 1.2vw;
        }
    }


    //////////////////// 8. FOOTER ///////////////////////
    //////////////////// 8. FOOTER ///////////////////////
    //////////////////// 8. FOOTER ///////////////////////
}



