{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Start a campaign | FundPak  </title>
    <!-- favicon goes here -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/campaign-form-1.css' %}">
    <!-- custom js -->
    <script src="{% static 'js/app.js' %}" defer></script>
    <!-- cdn for swiper js -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- cdn for jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>

    <!-- 1. header -->
    <!-- 2. Campaign Form -->
    <!-- 3. footer -->

    <!-- ------------------------------------------------------------- -->

    <!-- header starts here -->

    <div class="header">

        <!-- header logo starts here -->

        <div class="header-logo">
            <a href="{% url 'core:index' %}"><img src="{% static 'images/header-logo.svg' %}" alt="header fundpak logo here" class="header-logo-img"></a>
        </div>

        <!-- header explore starts here -->

        <div class="header-explore">
            <div class="header-explore-btn">
                <a href="#" class="header-explore-text">Explore</a>
                <div class="header-explore-icon"><img src="{% static 'images/icon-arrow-down.svg' %}" alt="header arrow down icon here" class="header-explore-icon-img"></div>
            </div>
            <div class="header-explore-content">
                <div class="header-explore-content-row">
                    <div class="header-explore-content-row-column header-explore-content-row-column-1">
                        <div class="header-explore-content-row-column-heading">Explore All Projects</div>
                        <a href="{% url 'core:product_categories' %}" class="header-explore-content-row-column-link"><img src="{% static 'images/drpdown1.png' %}" alt="" class="header-explore-content-row-column-link-img"></a>
                    </div>
                    <div class="header-explore-content-row-column header-explore-content-row-column-2">
                        <div class="header-explore-content-row-column-heading">Most Favorites</div>
                        <a href="{% url 'core:product_categories' %}" class="header-explore-content-row-column-link"><img src="{% static 'images/drpdown2.png' %}" alt="" class="header-explore-content-row-column-link-img"></a>
                    </div>
                    <div class="header-explore-content-row-column header-explore-content-row-column-3">
                        <div class="header-explore-content-row-column-heading">Join Us!</div>
                        <a href="{% url 'core:signup' %}" class="header-explore-content-row-column-link"><img src="{% static 'images/drpdown3.png' %}" alt="" class="header-explore-content-row-column-link-img"></a>
                    </div>
                </div>
                <div class="header-explore-content-bottom">
                    <div class="header-explore-content-bottom-column">
                        <div class="header-explore-content-bottom-column-heading">
                            TECH & INNOVATION
                        </div>
                        <div class="header-explore-content-bottom-column-links">
                            <div class="header-explore-content-bottom-column-links-column">
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Audio</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Camera Gear</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Education</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Energy & Green Tech</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Fashion & Wearables</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Food & Beverages</a>
                            </div>
                            <div class="header-explore-content-bottom-column-links-column">
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Health & Fitness</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Home</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Phones & Accessories</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Productivity</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Transportation</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Travel & Outdoors</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-explore-content-bottom-line">
                        <div class="header-explore-content-bottom-line-verticle"></div>
                    </div>
                    <div class="header-explore-content-bottom-column">
                        <div class="header-explore-content-bottom-column-heading">
                            CREATIVE WORKS
                        </div>
                        <div class="header-explore-content-bottom-column-links">
                            <div class="header-explore-content-bottom-column-links-column">
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Art</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Comics</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Dance & Theater</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Film</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Music</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Photography</a>
                            </div>
                            <div class="header-explore-content-bottom-column-links-column">
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Podcasts, Blogs & Vlogs</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Tabletop Games</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Video Games</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Web Series & TV Shows</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Writing & Publishing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header story starts here -->

        <div class="header-story">
            <a href="{% url 'core:about_us' %}" class="header-story-text">Our Story</a>
        </div>

        <!-- header seach input starts here -->

        <div class="header-search">
            <div class="header-search-icon"><img src="{% static 'images/icon-search.svg' %}" alt="header search icon here" class="header-search-icon-img"></div>
            <div class="header-search-input"><input type="text" placeholder="Search" class="header-search-input-box"></div>
        </div>

        <!-- header links start here -->

        <div class="header-link">

            <a href="{% url 'core:featured' %}" class="header-link-investor">For Investors</a>
            <a href="#" class="header-link-campaign">Start a Campaign</a>

        </div>


        <!-- if there is no login then these buttons will be shown otherwise next div -->

        <!-- header buttons start here -->
{#        <div class="header-btn">#}
{##}
{#            <a href="./login.html" class="header-btn-login">#}
{#                Log In#}
{#            </a>#}
{##}
{#            <a href="./signup.html" class="header-btn-signup">#}
{#                Sign Up#}
{#            </a>#}
{#        </div>#}
        <!-- header buttons end here -->

        <!-- account logged in btns start here -->

        <div class="header-loggedin-btns">
            <a href="{% url 'core:logout' %}" class="header-loggedin-btns-logout">
                Logout
            </a>
            <div class="header-loggedin-btns-profile">
                <img src="{% static 'images/profile-icon.svg' %}" alt="no profile picture icon here" class="header-loggedin-btns-profile-img">
            </div>
        </div>

        <!-- account logged in btns end here -->

    </div>

    <!-- header ends here -->

    <!-- ----------------------------------------------------------- -->

    <!-- header-mobile starts here -->

    <div class="header-mobile">

        <div class="header-mobile-logo">
            <img src="{% static 'images/header-logo.svg' %}" alt="fundpak logo here" class="header-mobile-logo-img">
        </div>

        <div class="header-mobile-search">
            <input type="text" class="header-mobile-search-input" placeholder="Search">
            <img src="{% static 'images/icon-search.svg' %}" alt="" class="header-mobile-search-icon">        
        </div>

        <div class="header-mobile-hamburger">
            <div class="header-mobile-hamburger-btn">
                <div class="header-mobile-hamburger-btn-line"></div>
                <div class="header-mobile-hamburger-btn-line"></div>
                <div class="header-mobile-hamburger-btn-line"></div>
            </div>

            <div class="header-mobile-hamburger-menu">
                <div class="header-mobile-hamburger-menu-link">Login</div>
                <div class="header-mobile-hamburger-menu-link">Signup</div>  
                <div class="header-mobile-hamburger-menu-link">Explore</div>
                <div class="header-mobile-hamburger-menu-link">Most Favorites</div>
                <div class="header-mobile-hamburger-menu-link">For Investors</div>
                <div class="header-mobile-hamburger-menu-link">Start a Campaign</div>                              
            </div>
        </div>
        

    </div>

    <!-- header-mobile ends here -->
    

    <!-- ----------------------------------------------------------- -->

    <!-- ----------------------------------------------------------- -->

    <!-- campaign form starts here -->


    <div class="campaign-form">

        <!-- campaign form menu starts here -->

        <div class="campaign-form-menu">
            <div class="campaign-form-menu-link">
                DRAFT CAMPAIGN
            </div>
            <div class="campaign-form-menu-link">
                MY CAMPAIGN TITLE
            </div>
            <div class="campaign-form-menu-link">
                GOT FEEDBACK?
            </div>
            <div class="campaign-form-menu-link">
                PREVIEW CAMPAIGN
            </div>
            <div class="campaign-form-menu-link">
                PRE-LAUNCH PAGE
            </div>
            <div class="campaign-form-menu-link">
                CAMPAIGN EDITOR
            </div>
            <div class="campaign-form-menu-link">
                1. BASICS
            </div>
            <div class="campaign-form-menu-link">
                2. CONTENT
            </div>
            <div class="campaign-form-menu-link">
                3. PERKS
            </div>
            <div class="campaign-form-menu-link">
                4. ITEMS
            </div>
            <div class="campaign-form-menu-link">
                5. FUNDING
            </div>
            <div class="campaign-form-menu-link">
                6. EXTRAS
            </div>
            <div class="campaign-form-menu-link">
                7. SETTINGS
            </div>
        </div>

        <!-- campaign form menu ends here -->


        <form action="{% url 'core:campaign_1' %}" method="post" class="campaign-form-container">
            {% csrf_token %}
            <!-- campaign form section 1 starts here -->

            <div class="campaign-form-1">
                <!-- campaign form header starts here -->
                <div class="campaign-form-1-header">
                    <div class="campaign-form-1-header-address">
                        Campaign / Basics
                    </div>
                    <div class="campaign-form-1-header-btns-container">
    {#                    <div class="campaign-form-1-header-save-btn">#}
    {#                        SAVE CAMPAIGN#}
    {#                    </div>#}
    {#                    <div class="campaign-form-1-header-review-btn">#}
    {#                        REVIEW & LAUNCH#}
    {#                    </div>#}
                    </div>
                </div>
                <!-- campaign form header ends here -->
                <!-- campaign form description starts here -->
                <div class="campaign-form-1-description">
                    <div class="campaign-form-1-description-heading">
                        Basics
                    </div>
                    <div class="campaign-form-1-description-details">
                        Make a good first impression: introduce your campaign objectives and entice people to learn more.
                        This basic information will represent your campaign on your campaign page, on your campaign card,
                        and in searches.
                    </div>
                </div>
                <!-- campaign form description ends here -->

                <!-- --------------------------------------------- -->

                <!-- campaign form input starts here -->
                <div class="campaign-form-1-data">
                    <div class="campaign-form-1-data-heading">
                        Campaign Title <span class="campaign-form-1-data-heading-required">*</span>
                    </div>
                    <div class="campaign-form-1-data-description">
                        What is the title of your campaign?
                    </div>
                    <input name="title" type="text" class="campaign-form-1-data-input" placeholder="My Campaign Title" required>
                </div>
                <!-- campaign form input ends here -->

                <!-- --------------------------------------------- -->

                <!-- --------------------------------------------- -->

                <!-- campaign form input starts here -->
                <div class="campaign-form-1-data">
                    <div class="campaign-form-1-data-heading">
                        Campaign Tagline <span class="campaign-form-1-data-heading-required">*</span>
                    </div>
                    <div class="campaign-form-1-data-description">
                        Provide a short description that best describes your campaign.
                    </div>
                    <textarea name="tagline" class="campaign-form-1-data-input campaign-form-1-data-input-tagline" placeholder="My Campaign Tagline" required></textarea>
                </div>
                <!-- campaign form input ends here -->

                <!-- --------------------------------------------- -->

                <!-- --------------------------------------------- -->

                <!-- campaign form input starts here -->
                <div class="campaign-form-1-data campaign-form-1-image-data">
                    <div class="campaign-form-1-data-heading">
                        Campaign Card Image <span class="campaign-form-1-data-heading-required">*</span>
                    </div>
                    <div class="campaign-form-1-data-description">
                        Upload a square image that represents your campaign.
                        640 x 640 recommended resolution, 220 x 220 minimum resolution.
                    </div>

                    <input onchange="uploadImage()" type="file" name="file[]" id="files" class="campaign-form-1-data-input campaign-form-1-data-input-image" accept="image/*">
                    <input type="hidden" name="img_url" id="img_url">

                    <div class="campaign-form-1-data-input-image-box-upload" style="background-image: url();background-size:cover">

                    </div>
                    <div class="loader"></div>

                    <div class="campaign-form-1-data-input-image-box">
                        <img src="{% static 'images/upload-image-cam-icon.svg' %}" alt="upload image icon" class="campaign-form-1-data-input-image-box-icon">
                        <p class="campaign-form-1-data-input-image-box-text">Upload an Image</p>
                    </div>
                </div>
                <!-- campaign form input ends here -->

                <!-- --------------------------------------------- -->

                <!-- --------------------------------------------- -->

                <!-- campaign form input starts here -->
                <div class="campaign-form-1-data">
                    <div class="campaign-form-1-data-heading">
                        Location <span class="campaign-form-1-data-heading-required">*</span>
                    </div>
                    <div class="campaign-form-1-data-description">
                        Choose the location where you are running the campaign. This location will be visible on your campaign page for your audience to see.
                    </div>
                    <input name="location" type="text" class="campaign-form-1-data-input" placeholder="City, Country" required>
                </div>
                <!-- campaign form input ends here -->

                <!-- --------------------------------------------- -->

                <!-- --------------------------------------------- -->

                <!-- campaign form input starts here -->
                <div class="campaign-form-1-data">
                    <div class="campaign-form-1-data-heading">
                        Category <span class="campaign-form-1-data-heading-required">*</span>
                    </div>
                    <div class="campaign-form-1-data-description">
                        To help backers find your campaign, select a category that best represents your project.
                    </div>
                    <input name="category" type="text" class="campaign-form-1-data-input" placeholder="Select a Category" required>
                </div>
                <!-- campaign form input ends here -->

                <!-- --------------------------------------------- -->

                <!-- --------------------------------------------- -->

                <!-- campaign form input starts here -->
                <div class="campaign-form-1-data">
                    <div class="campaign-form-1-data-heading">
                        Price Per Unit <span class="campaign-form-1-data-heading-required">*</span>
                    </div>
                    <div class="campaign-form-1-data-description">
                        The least price requested from a supporter to become a part of your campaign. Select wisely!
                    </div>
                    <input name="price" type="text" class="campaign-form-1-data-input" placeholder="Least price to request from a supporter" required>
                </div>

                <!-- campaign form input ends here -->

                <!-- --------------------------------------------- -->
                <!-- --------------------------------------------- -->

                <!-- campaign form input starts here -->
                <div class="campaign-form-1-data">
                    <div class="campaign-form-1-data-heading">
                        Story <span class="campaign-form-1-data-heading-required">*</span>
                    </div>
                    <div class="campaign-form-1-data-description">
                        Tell potential contributors more about your campaign. Provide details that will motivate people to contribute. A good pitch is compelling, informative, and easy to digest. Learn more.
                    </div>
                    <textarea name="description" class="campaign-form-1-data-input campaign-form-1-data-input-tagline" placeholder="My Campaign Story" required></textarea>
                </div>
                <!-- campaign form input ends here -->

                <!-- --------------------------------------------- -->

                <button type="submit" class="campaign-form-1-btn">
                    SAVE & CONTINUE
                </button>


            </div>

            <!-- campaign form section 1  ends here -->

        </form>
    </div>


    <!-- campaign form ends here -->
    
    <!-- --------------------------------------------------------------- -->

    <!-- footer starts here -->

    <div class="footer">
        <div class="footer-top">
            <div class="footer-top-column-1">
                <div class="footer-top-column-1-column">
                    <div class="footer-top-column-1-column-heading">
                        EXPLORE
                    </div>
                    <a href="#" class="footer-top-column-1-column-link">What We Do</a>
                    <a href="#" class="footer-top-column-1-column-link">Funding</a>
                    <a href="#" class="footer-top-column-1-column-link">GoFundMe</a>
                </div>
                <div class="footer-top-column-1-column">
                    <div class="footer-top-column-1-column-heading">
                        ABOUT
                    </div>
                    <a href="#" class="footer-top-column-1-column-link">About Us</a>
                    <a href="#" class="footer-top-column-1-column-link">Trust & Safety</a>
                    <a href="#" class="footer-top-column-1-column-link">Help & Support</a>
                    <a href="#" class="footer-top-column-1-column-link">Contact</a>
                </div>
                <div class="footer-top-column-1-column">
                    <div class="footer-top-column-1-column-heading">
                        ENTREPRENEURS
                    </div>
                    <a href="#" class="footer-top-column-1-column-link">How It Works</a>
                    <a href="#" class="footer-top-column-1-column-link">Education Center</a>
                    <a href="#" class="footer-top-column-1-column-link">Experts Directory</a>
                    <a href="#" class="footer-top-column-1-column-link">Fees</a>
                    <a href="#" class="footer-top-column-1-column-link">Enterprise</a>
                </div>
            </div>
            <div class="footer-top-column-2">
                <div class="footer-top-column-2-icon">
                    <img src="{% static 'images/envelope.svg' %}" alt="envelope icon here" class="footer-top-column-2-icon-img">
                </div>
                <div class="footer-top-column-2-text">
                    Discover new and clever products in the pakfund newsletter.
                </div>
                <form class="footer-top-column-2-form">
                    <input type="text" class="footer-top-column-2-form-input" placeholder="Your email address">
                    <div class="footer-top-column-2-form-inner">
                        <input type="checkbox" name="" id="subscribe" class="footer-top-column-2-form-checkbox">
                        <span class="footer-checkmark"></span>
                        <label for="subscribe" class="footer-top-column-2-form-checkbox-text">I agree to the Terms of Use and have read and understand the Privacy Policy.</label>
                    </div>                    
                    <button type="submit" class="footer-top-column-2-form-btn">SIGN UP NOW</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-column footer-bottom-column-1">
                <a href="#" class="footer-bottom-column-social"><img src="{% static 'images/fb.png' %}" alt="" class="footer-bottom-column-social-img footer-bottom-column-social-img-1"></a>
                <a href="#" class="footer-bottom-column-social"><img src="{% static 'images/insta.png' %}" alt="" class="footer-bottom-column-social-img"></a>
                <a href="#" class="footer-bottom-column-social"><img src="{% static 'images/linkedin.png' %}" alt="" class="footer-bottom-column-social-img"></a>
                <a href="#" class="footer-bottom-column-social"><img src="{% static 'images/ttr.png' %}" alt="" class="footer-bottom-column-social-img"></a>
                <a href="#" class="footer-bottom-column-social"><img src="{% static 'images/yt.png' %}" alt="" class="footer-bottom-column-social-img"></a>
            </div>
            <div class="footer-bottom-column footer-bottom-column-2">
                <a href="#" class="footer-bottom-column-link">Terms of Use</a>
                <a href="#" class="footer-bottom-column-link">Privacy Policy</a>
                <a href="#" class="footer-bottom-column-link">Cookie Policy</a>
                <div class="footer-bottom-column-link">© 2021 fundPAK, Inc. All Rights Reserved.</div>
            </div>
        </div>
    </div>

    <!-- footer ends here -->

</body>
<!-- Adding firebase js -->
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-storage.js"></script>

<script>
    var firebaseConfig = {
          apiKey: "AIzaSyBQwup5w7OoBcSrn8_ggVivckCJ2TSN3AQ",
          authDomain: "fundpak-531e2.firebaseapp.com",
          databaseURL: "https://fundpak-531e2.firebaseio.com",
          projectId: "fundpak-531e2",
          storageBucket: "fundpak-531e2.appspot.com",
          messagingSenderId: "588369785043",
          appId: "1:588369785043:web:b0a25f4da16f657302e426",
          measurementId: "G-1NZH718QKV",
    };
    firebase.initializeApp(firebaseConfig);

    function uploadImage(){
        console.log("In uploadimage fundtion")
        var storage = firebase.storage();
        var file = document.getElementById('files').files[0];
        var storageRef = storage.ref();
        var thisRef = storageRef.child("product_images").child(file.name).put(file);

        thisRef.on('state_changed', function (snapshot){
            console.log("file uploaded!")
        },
        function (error){

        },
        function(){
            var downloadURL = thisRef.snapshot.downloadURL;
            console.log("Got Url")
        }
        )
    }

</script>
</html>