<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Start a campaign | FundPak  </title>
    <!-- favicon goes here -->
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <!-- custom css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/campaign-form-2.css">
    <!-- custom js -->
    <script src="./js/app.js" defer></script>
    <!-- cdn for swiper js -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- cdn for jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>

    <!-- 1. header -->
    <!-- 2. Campaign Form -->
    <!-- 3. footer -->

    <!-- ------------------------------------------------------------- -->

    <!-- header starts here -->

    <div class="header">

        <!-- header logo starts here -->

        <div class="header-logo">
            <a href="./index.html"><img src="./images/header-logo.svg" alt="header fundpak logo here" class="header-logo-img"></a>
        </div>

        <!-- header explore starts here -->

        <div class="header-explore">
            <div class="header-explore-btn">
                <a href="#" class="header-explore-text">Explore</a>
                <div class="header-explore-icon"><img src="./images/icon-arrow-down.svg" alt="header arrow down icon here" class="header-explore-icon-img"></div>
            </div>
            <div class="header-explore-content">
                <div class="header-explore-content-row">
                    <div class="header-explore-content-row-column header-explore-content-row-column-1">
                        <div class="header-explore-content-row-column-heading">Explore All Projects</div>
                        <a href="./product-categories.html" class="header-explore-content-row-column-link"><img src="./images/drpdown1.png" alt="" class="header-explore-content-row-column-link-img"></a>
                    </div>
                    <div class="header-explore-content-row-column header-explore-content-row-column-2">
                        <div class="header-explore-content-row-column-heading">Most Favorites</div>
                        <a href="./product-categories.html" class="header-explore-content-row-column-link"><img src="./images/drpdown2.png" alt="" class="header-explore-content-row-column-link-img"></a>
                    </div>
                    <div class="header-explore-content-row-column header-explore-content-row-column-3">
                        <div class="header-explore-content-row-column-heading">Join Us!</div>
                        <a href="./signup.html" class="header-explore-content-row-column-link"><img src="./images/drpdown3.png" alt="" class="header-explore-content-row-column-link-img"></a>
                    </div>
                </div>
                <div class="header-explore-content-bottom">
                    <div class="header-explore-content-bottom-column">
                        <div class="header-explore-content-bottom-column-heading">
                            TECH & INNOVATION
                        </div>
                        <div class="header-explore-content-bottom-column-links">
                            <div class="header-explore-content-bottom-column-links-column">
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Audio</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Camera Gear</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Education</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Energy & Green Tech</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Fashion & Wearables</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Food & Beverages</a>
                            </div>
                            <div class="header-explore-content-bottom-column-links-column">
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Health & Fitness</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Home</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Phones & Accessories</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Productivity</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Transportation</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Travel & Outdoors</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-explore-content-bottom-line">
                        <div class="header-explore-content-bottom-line-verticle"></div>
                    </div>
                    <div class="header-explore-content-bottom-column">
                        <div class="header-explore-content-bottom-column-heading">
                            CREATIVE WORKS
                        </div>
                        <div class="header-explore-content-bottom-column-links">
                            <div class="header-explore-content-bottom-column-links-column">
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Art</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Comics</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Dance & Theater</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Film</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Music</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Photography</a>
                            </div>
                            <div class="header-explore-content-bottom-column-links-column">
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Podcasts, Blogs & Vlogs</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Tabletop Games</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Video Games</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Web Series & TV Shows</a>
                                <a href="#" class="header-explore-content-bottom-column-links-column-link">Writing & Publishing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header story starts here -->

        <div class="header-story">
            <a href="./about-us.html" class="header-story-text">Our Story</a>
        </div>

        <!-- header seach input starts here -->

        <div class="header-search">
            <div class="header-search-icon"><img src="./images/icon-search.svg" alt="header search icon here" class="header-search-icon-img"></div>
            <div class="header-search-input"><input type="text" placeholder="Search" class="header-search-input-box"></div>
        </div>

        <!-- header links start here -->

        <div class="header-link">

            <a href="./featured.html" class="header-link-investor">For Investors</a>
            <a href="./start-a-campaign1.html" class="header-link-campaign">Start a Campaign</a>

        </div>


        <!-- if there is no login then these buttons will be shown otherwise next div -->

        <!-- header buttons start here -->
        <div class="header-btn">

            <a href="./login.html" class="header-btn-login">
                Log In
            </a>

            <a href="./signup.html" class="header-btn-signup">
                Sign Up
            </a>
        </div>
        <!-- header buttons end here -->

        <!-- account logged in btns start here -->

        <!-- <div class="header-loggedin-btns">
            <div class="header-loggedin-btns-logout">
                Logout
            </div>
            <div class="header-loggedin-btns-profile">
                <img src="./images/profile-icon.svg" alt="no profile picture icon here" class="header-loggedin-btns-profile-img">
            </div>
        </div> -->

        <!-- account logged in btns end here -->

    </div>

    <!-- header ends here -->

    <!-- ----------------------------------------------------------- -->

    <!-- ----------------------------------------------------------- -->

    <!-- campaign form starts here -->


    <div class="campaign-form">

        <!-- campaign form menu starts here -->

        <div class="campaign-form-menu">
            <div class="campaign-form-menu-link">
                MY CAMPAIGN TITLE
            </div> 
            <div class="campaign-form-menu-link">
                CAMPAIGN EDITOR
            </div>
            <div class="campaign-form-menu-link">
                1. BASICS
            </div>
            <div class="campaign-form-menu-link">
                2. CONTENT
            </div>
            <div class="campaign-form-menu-link">
                3. FUNDING
            </div>
        </div>

        <!-- campaign form menu ends here -->

        <!-- campaign form section 1 starts here -->

        <div class="campaign-form-1">
            <!-- campaign form header starts here -->
            <div class="campaign-form-1-header">
                <div class="campaign-form-1-header-address">
                    Campaign / Basics
                </div>
                <div class="campaign-form-1-header-btns-container">
                    <div class="campaign-form-1-header-save-btn">
                        SAVE CAMPAIGN
                    </div>
                    <div class="campaign-form-1-header-review-btn">
                        REVIEW & LAUNCH
                    </div>
                </div>                
            </div>
            <!-- campaign form header ends here -->
            <!-- campaign form description starts here -->
            <div class="campaign-form-1-description">
                <div class="campaign-form-1-description-heading">
                    Pitch Video or Image
                </div>
                <div class="campaign-form-1-description-details">
                    Add a video or image to appear on the top of your campaign page. 
                    Campaigns with videos raise 2000% more than campaigns without videos. 
                    Keep your video 2-3 minutes. Learn how to make a great video.
                </div>
            </div>
            <!-- campaign form description ends here -->

            <!-- --------------------------------------------- -->
        
            <!-- campaign form input starts here -->
            <div class="campaign-form-1-data campaign-form-1-image-data">
                <div class="campaign-form-1-data-heading">
                    Pitch Image <span class="campaign-form-1-data-heading-required">*</span>
                </div>
                <div class="campaign-form-1-data-description">
                    Upload an image to appear at the top of your campaign page.
                    695 x 460 recommended resolution.
                </div>
                <input type="file" class="campaign-form-1-data-input campaign-form-1-data-input-image" accept="image/*">
                <div class="campaign-form-1-data-input-image-box">
                    <img src="./images/upload-image-cam-icon.svg" alt="upload image icon" class="campaign-form-1-data-input-image-box-icon">
                    <p class="campaign-form-1-data-input-image-box-text">Upload an Image</p>
                </div>
            </div>
            <!-- campaign form input ends here -->

            <!-- --------------------------------------------- -->

            <!-- --------------------------------------------- -->
        
            <!-- campaign form input starts here -->
            <div class="campaign-form-1-data">
                <div class="campaign-form-1-data-heading">
                    Story <span class="campaign-form-1-data-heading-required">*</span>
                </div>
                <div class="campaign-form-1-data-description">
                    Tell potential contributors more about your campaign. Provide details that will motivate people to contribute. A good pitch is compelling, informative, and easy to digest. Learn more.
                </div>
                <textarea class="campaign-form-1-data-input campaign-form-1-data-input-tagline" placeholder="My Campaign Story"></textarea>
            </div>
            <!-- campaign form input ends here -->

            <!-- --------------------------------------------- -->   

            <!-- --------------------------------------------- -->
        
            <!-- campaign form input starts here -->
            <div class="campaign-form-1-data">
                <div class="campaign-form-1-data-heading">
                    FAQ <span class="campaign-form-1-data-heading-required">*</span>
                </div>
                <div class="campaign-form-1-data-description">
                    The FAQ section should provide the most common details that backers are looking 
                    for when evaluating your campaign. We will also provide common answers to questions 
                    about crowdfunding and how Indiegogo works.
                </div>
                <div class="campaign-form-1-data-faq-question-heading">
                    Question
                </div>
                <input type="text" name="" id="" class="campaign-form-1-data-faq-question-input">
                <div class="campaign-form-1-data-faq-answer-heading">
                    Answer
                </div>
                <input type="text" name="" id="" class="campaign-form-1-data-faq-answer-input">
                <div class="campaign-form-1-data-faq-add-btn">
                    <span class="campaign-form-1-data-faq-add-btn-icon">+</span>Add another Question
                </div>
            </div>
            <!-- campaign form input ends here -->

            <!-- --------------------------------------------- -->


            <div class="campaign-form-1-btn">
                SAVE & CONTINUE
            </div>


        </div>

        <!-- campaign form section 1  ends here -->

    </div>


    <!-- campaign form ends here -->
    
    <!-- --------------------------------------------------------------- -->

    <!-- footer starts here -->

    <div class="footer">
        <div class="footer-top">
            <div class="footer-top-column-1">
                <div class="footer-top-column-1-column">
                    <div class="footer-top-column-1-column-heading">
                        EXPLORE
                    </div>
                    <a href="#" class="footer-top-column-1-column-link">What We Do</a>
                    <a href="#" class="footer-top-column-1-column-link">Funding</a>
                    <a href="#" class="footer-top-column-1-column-link">GoFundMe</a>
                </div>
                <div class="footer-top-column-1-column">
                    <div class="footer-top-column-1-column-heading">
                        ABOUT
                    </div>
                    <a href="#" class="footer-top-column-1-column-link">About Us</a>
                    <a href="#" class="footer-top-column-1-column-link">Trust & Safety</a>
                    <a href="#" class="footer-top-column-1-column-link">Help & Support</a>
                    <a href="#" class="footer-top-column-1-column-link">Contact</a>
                </div>
                <div class="footer-top-column-1-column">
                    <div class="footer-top-column-1-column-heading">
                        ENTREPRENEURS
                    </div>
                    <a href="#" class="footer-top-column-1-column-link">How It Works</a>
                    <a href="#" class="footer-top-column-1-column-link">Education Center</a>
                    <a href="#" class="footer-top-column-1-column-link">Experts Directory</a>
                    <a href="#" class="footer-top-column-1-column-link">Fees</a>
                    <a href="#" class="footer-top-column-1-column-link">Enterprise</a>
                </div>
            </div>
            <div class="footer-top-column-2">
                <div class="footer-top-column-2-icon">
                    <img src="./images/envelope.svg" alt="envelope icon here" class="footer-top-column-2-icon-img">
                </div>
                <div class="footer-top-column-2-text">
                    Discover new and clever products in the pakfund newsletter.
                </div>
                <form class="footer-top-column-2-form">
                    <input type="text" class="footer-top-column-2-form-input" placeholder="Your email address">
                    <div class="footer-top-column-2-form-inner">
                        <input type="checkbox" name="" id="subscribe" class="footer-top-column-2-form-checkbox">
                        <span class="footer-checkmark"></span>
                        <label for="subscribe" class="footer-top-column-2-form-checkbox-text">I agree to the Terms of Use and have read and understand the Privacy Policy.</label>
                    </div>                    
                    <button type="submit" class="footer-top-column-2-form-btn">SIGN UP NOW</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-column footer-bottom-column-1">
                <a href="#" class="footer-bottom-column-social"><img src="./images/fb.png" alt="" class="footer-bottom-column-social-img footer-bottom-column-social-img-1"></a>
                <a href="#" class="footer-bottom-column-social"><img src="./images/insta.png" alt="" class="footer-bottom-column-social-img"></a>
                <a href="#" class="footer-bottom-column-social"><img src="./images/linkedin.png" alt="" class="footer-bottom-column-social-img"></a>
                <a href="#" class="footer-bottom-column-social"><img src="./images/ttr.png" alt="" class="footer-bottom-column-social-img"></a>
                <a href="#" class="footer-bottom-column-social"><img src="./images/yt.png" alt="" class="footer-bottom-column-social-img"></a>
            </div>
            <div class="footer-bottom-column footer-bottom-column-2">
                <a href="#" class="footer-bottom-column-link">Terms of Use</a>
                <a href="#" class="footer-bottom-column-link">Privacy Policy</a>
                <a href="#" class="footer-bottom-column-link">Cookie Policy</a>
                <div class="footer-bottom-column-link">© 2021 fundPAK, Inc. All Rights Reserved.</div>
            </div>
        </div>
    </div>

    <!-- footer ends here -->
    
</body>
</html>