@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}

//////////////////////////////////////////////////////




.about-hero {
    width: 100%;
    margin-bottom: 20vh;
    position: relative;
    &-thumbnail {
        width: 100%;
    }
    &-text {
        position: absolute;
        left: 10%;
        bottom: -10%;
        width: 80%;
        background-color: $primary-color;
        color: #fff;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        padding: 5vh 0;
        margin: auto;
        &-span {
            width: 50%;
            margin: auto;
        }
    }
}

.about-us-text {
    @include center();
    flex-direction: column;    
    &-heading {
        font-size: 2rem;
        font-weight: 600;
        color: $brand-black;
        margin-bottom: 6vh;
    }
    &-description {
        font-size: 1.1rem;
        width: 80%;
        text-align: center;
        padding-bottom: 10vh;
    }
}

.stories-section {
    padding: 10vh 0;
    border-top: 0.2rem solid #ECECEC;
    border-bottom: 0.2rem solid #ECECEC;
    &-row {
        width: 100%;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10vh;
        &:last-child {
            margin-bottom: 0;
        }
        &-column {
            width: 50%;
            @include center();
            &-heading {
                font-size: 1.8rem;
                color: $brand-black;
                text-align: left;
                width: 40%;
            }
            &-description {
                width: 80%;
                text-align: left;
                font-size: 1rem;
            }
        }
    }
}




@media only screen and (min-width:1600px) {
    html {
        font-size: 1.2vw;
    }
}

@media only screen and (min-width:980px) and (max-width:1160px) {
    .about-hero {
        margin-bottom: 10vh;
        &-text {
            font-size: 1.5rem;
        }
    }
    .about-us-text {
        &-description {
            font-size: 1rem;
        }
    }
    .stories-section-row-column {
        &-heading {
            width: 60%;
        }
        &:first-child {
            width: 35%;
        }
        &:last-child {
            width: 65%;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:980px) {
    .about-hero {
        margin-bottom: 10vh;
        &-text {
            font-size: 1.5rem;
            &-span {
                width: 70%;
            }
        }
    }
    .about-us-text {
        &-description {
            font-size: 1rem;
        }
    }
    .stories-section-row-column {
        &-heading {
            width: 70%;
            font-size: 1.5rem;
        }
        &-description {
            text-align: justify;
        }
        &:first-child {
            width: 30%;
        }
        &:last-child {
            width: 70%;
        }
    }
}

@media only screen and (min-width:620px) and (max-width:768px) {
    .about-hero {
        margin-bottom: 10vh;
        &-text {
            font-size: 1.5rem;
            bottom: -20%;
            &-span {
                width: 70%;
            }
        }
    }
    .about-us-text {
        &-description {
            font-size: 1rem;
        }
    }
    .stories-section-row-column {
        &-heading {
            width: 70%;
            font-size: 1.3rem;
        }
        &-description {
            text-align: justify;
            width: 90%;
        }
        &:first-child {
            width: 30%;
        }
        &:last-child {
            width: 70%;
        }
    }
}

@media only screen and (max-width:620px) {
    html {
        font-size: 14px;
    }
    .about-hero {
        margin-bottom: 15vh;
        &-text {
            font-size: 1.5rem;
            bottom: -30%;
            &-span {
                width: 80%;
            }
        }
    }
    .about-us-text {
        &-description {
            font-size: 1rem;
        }
    }    
    .stories-section-row-column {
        &-heading {
            width: 90%;
            font-size: 1.5rem;
            margin-bottom: 3vh;
        }
        &-description {
            text-align: justify;
            width: 90%;
        }
        &:first-child {
            width: 100%;
        }
        &:last-child {
            width: 100%;
        }
    }
    .stories-section-row {
        margin-bottom: 5vh;
        flex-direction: column;
        &-column {
            width: 100%;
        }
    }
}

@media only screen and (max-width:450px) {
    html {
        font-size: 14px;
    }
    .about-hero {
        margin-bottom: 8vh;        
        &-text {
            position: relative;
            font-size: 1.5rem;
            bottom: 0%;
            left: 0;
            width: 100%;
            &-span {
                width: 80%;
            }
        }
    }
    .about-us-text {
        &-description {
            font-size: 1rem;
            width: 90%;
        }
    }    
    .stories-section-row-column {
        &-heading {
            width: 90%;
            font-size: 1.5rem;
            margin-bottom: 3vh;
        }
        &-description {
            text-align: justify;
            width: 90%;
        }
        &:first-child {
            width: 100%;
        }
        &:last-child {
            width: 100%;
        }
    }
    .stories-section-row {
        margin-bottom: 5vh;
        flex-direction: column;
        &-column {
            width: 100%;
        }
    }
}