// font imported from google

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// configurations 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}

//////////////////////////////////////////////////////

.login-container-toprow {
    text-align: center;
    width: 70%;
}

.login-container-icon {
    width: 100%;
    @include center();
    margin-bottom: 2vh;
    &-img {
        width: 20%;
    }
}