// font imported from google

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// configurations 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}

//////////////////////////////////////////////////////

.login-container-toprow {
    text-align: center;
    width: 70%;
}

.login-container-icon {
    width: 100%;
    @include center();
    margin-bottom: 2vh;
    &-img {
        width: 20%;
    }
}

@media only screen and (min-width: 1600px) {
    .login-container {
        &-heading {
            font-size: 2vw;
        }
        &-toprow {
            font-size: 1.2vw;
        }
        &-input-row {
            &-label , &-input {
                font-size: 1.2vw;
                &::placeholder {
                    font-size: 1.2vw;
                }
            }
        }
        &-lastrow {
            font-size: 1.2vw;
        }
        &-submit-btn {
            font-size: 1.2vw;
        }
    }
}

@media only screen and (min-width:980px) and (max-width:1180px) {
    .login {
        padding: 10vh 25%;
        &-container {
            padding: 10vh 6%;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:980px) {
    .login {
        padding: 10vh 20%;
        &-container {
            padding: 10vh 4%;
        }
    }
}


@media only screen and (min-width:620px) and (max-width:768px) {
    .login {
        padding: 10vh 15%;
        &-container {
            padding: 10vh 3%;
        }
    }
}

@media only screen and (max-width:620px) {
    html {
        font-size: 14px;
    } 
    .login {
        padding: 0;
        &-container {
            border: none;
        }
    }
}

@media only screen and (max-width:500px) {
    .login {
        &-container {
            padding: 6vh 5%;
        }
    }
}