* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #FC7753;
$brand-black: #181819;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $brand-black;
}


//////////////////////////////////////////////////////

// 1. header
// 2. start campaign container

//////////////////////////////////////////////////////


.header {
    box-shadow: 0px 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
    margin-bottom: 3vh;
}

.start-campaign {
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 100%;
    background-color: #fff;
    @include center();
    flex-direction: column;
    justify-content: flex-start;
    &-title {
        width: 20%;
        @include center();
        margin-bottom: 3vh;
        &-img {
            width: 100%;
        }
    }
    &-heading {
        color: $brand-black;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2vh;
    }
    &-text {
        width: 60%;
        margin: auto;
        text-align: center;
        color: $brand-black;
        font-size: 1.5rem;
    }
    &-form-2 {        
        width: 92%;
        margin: auto;
        margin-top: 5vh;
        padding: 5vh 0;
        @include center();
        flex-direction: column;
        justify-content: flex-start;
        &-question {
            margin-bottom: 8vh;
            width: 75%;
        }
        &-text {
            width: 75%;
            text-align: left;
            font-size: 1.4rem;
            color: $brand-black;
            margin-bottom: 3vh;
            &-question {
                width: 90%;
                text-align: left;
                font-size: 1.1rem;
                color: $brand-black;
                &-2-answer-input {
                    width: 100%;
                    padding: 1% 2%;
                    border: 0.1rem solid #979797;
                    border-radius: 0.5rem;
                    outline: none;
                    font-size: 1.1rem;
                    &:focus {
                        border: 0.15rem solid #979797;
                    }
                }
                &-answer {
                    width: 75%;
                    margin-top: 3vh;
                    font-size: 1.1rem;
                    &-label {
                        user-select: none;
                    }
                }
            }
        }
        &-logo {
            width: 15%;
            margin: auto;
            @include center();
            margin-bottom: 3vh;
            &-img {
                width: 100%;
            }
        }
        &-btns {
            @include center();
            justify-content: space-between;
            width: 40%;        
            margin: auto;
            margin-top: 3vh;
        }
        &-btn {
            padding: 1.5vh 4vw;
            background-color: $primary-color;
            color: #fff;
            margin: auto;
            border-radius: 0.5rem;
            font-size: 1.4rem;
            margin-bottom: 3vh;
        }
    }
    &-note {        
        width: 92%;
        margin: auto;
        margin-top: 6vh;
        text-align: center;
        font-size: 1.2rem;
        color: $brand-black;
        margin-bottom: 10vh;
    }
}